<header class="header">
  <div class="header__left">
    <ui-button
      variant="ghost"
      icon="menu"
      class="header__menu-btn"
      (click)="menuToggle.emit()"
    ></ui-button>
    <ui-breadcrumb [items]="breadcrumbs()" (selectionChange)="handleBreadcrumbSelection($event)" />
  </div>

  <div class="header__right">
    <ui-search-input
      class="header__search"
      placeholder="Search..."
      shortcutHint="/"
      [ngModel]="searchValue()"
      (ngModelChange)="updateSearch($event)"
      (searchSubmit)="updateSearch($event)"
    />
    <ui-button variant="primary" icon="plus" (click)="onCreateFlagClick()">Create Flag</ui-button>
  </div>
</header>
