<div [class]="containerClasses()">
  <button
    type="button"
    class="user-menu__trigger"
    [attr.aria-label]="'User menu for ' + name()"
    aria-haspopup="true"
    (click)="onClick()"
  >
    <div class="user-menu__avatar">
      @if (avatarUrl()) {
        <img class="user-menu__avatar-img" [src]="avatarUrl()" [alt]="name()" />
      } @else {
        <span class="user-menu__initials">{{ initials() }}</span>
      }
    </div>
    @if (!compact()) {
      <div class="user-menu__info">
        <span class="user-menu__name">{{ name() }}</span>
        <span class="user-menu__email">{{ email() }}</span>
      </div>
    }
  </button>
  @if (!compact()) {
    <button type="button" class="user-menu__logout" aria-label="Log out" (click)="onLogout($event)">
      <svg
        class="user-menu__logout-icon"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
        <polyline points="16 17 21 12 16 7" />
        <line x1="21" y1="12" x2="9" y2="12" />
      </svg>
    </button>
  }
</div>
