<div class="data-table">
  <!-- Header table (no scrolling) -->
  <table class="data-table--head">
    <colgroup>
      @for (c of cols(); track c) {
        <col [style.width]="c.width() || null" />
      }
    </colgroup>

    @if (cols().length) {
      <thead>
        <tr>
          @for (c of cols(); track c) {
            <th
              class="data-table__header"
              (click)="onHeaderClick(c)"
              (keydown.enter)="onHeaderClick(c)"
              (keydown.space)="onHeaderClick(c)"
              [class.data-table__header--num]="c.align() === 'right'"
              [class.data-table__header--center]="c.align() === 'center'"
              [class.data-table__header--sortable]="c.sortable() !== false"
              [class.data-table__header--sorted]="isSorted(c)"
              [attr.aria-sort]="sortDirection(c) || 'none'"
              tabindex="0" >
              <span class="data-table__header-label">
                {{ c.header() || c.key() }}
              </span>
              @if(c.sortable() !== false) {
              <span class="data-table__sort-indicator">
                {{ sortSymbol(c) }}
              </span>
              }
            </th>
          }
        </tr>
      </thead>
    }
  </table>

  <!-- Body table (scrollable) -->
  <div class="data-table__body-wrap" [style.max-height]="maxHeight()">
    <table class="data-table__body">
      <colgroup>
        @for (c of cols(); track c) {
          <col [style.width]="c.width() || null" />
        }
      </colgroup>

      <tbody>
        @if (rows().length) {
          @for (row of rows(); track trackRow($index, row)) {
            <tr>
              @for (c of cols(); track c) {
                <td
                  class="data-table__cell"
                  [class.data-table__cell--num]="c.align() === 'right'"
                  [class.data-table__cell--center]="c.align() === 'center'"
                >
                  <ng-container
                    [ngTemplateOutlet]="c.tpl"
                    [ngTemplateOutletContext]="{ $implicit: row, rowIndex: $index }" />
                </td>
              }
            </tr>
          }
        } @else {
          <tr>
            <td class="data-table__empty" [attr.colspan]="cols().length || 1">
              {{ emptyText() }}
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
