<div class="tabs" role="tablist">
  @for (tab of tabs(); track tab.id) {
    <button
      type="button"
      role="tab"
      class="tabs__tab"
      [class.tabs__tab--active]="isActive(tab.id)"
      [class.tabs__tab--disabled]="tab.disabled"
      [attr.aria-selected]="isActive(tab.id)"
      [attr.aria-disabled]="tab.disabled ? 'true' : null"
      [attr.tabindex]="isActive(tab.id) ? 0 : -1"
      (click)="onTabClick(tab)"
      (keydown)="onKeyDown($event, tab)"
    >
      @if (tab.icon) {
        <app-icon [name]="tab.icon" [size]="16" />
      }
      <span class="tabs__label">{{ tab.label }}</span>
    </button>
  }
</div>
