:host {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.toggle__label {
  color: var(--text-secondary);
  font-size: 0.875rem;
}

:host(.toggle--disabled) {
  opacity: 0.6;
  cursor: not-allowed;

  .toggle,
  .toggle__label {
    cursor: not-allowed;
  }
}
